<%= render 'nav' %>
<div 
class='mt-20 ml-auto mr-auto pt-10 pl-8 pr-8 w-4/6 h-72  
bg-white bg-opacity-80 rounded
border-2 border-black border-double border-opacity-50
flex flex-col gap-3 items-center'
>
    Welcome, <%= @user.username %> !
    <div class='bg-white rounded
        border-2 border-black border-double 
        ml-auto mr-auto mt-5 w-2/6'>
        <a href='/logout'> Log out </a>
    </div>
    <div class='bg-red-500 rounded
    border-2 border-black border-double 
    ml-auto mr-auto mt-5 w-2/6'>
    <a href='/destroy'> Delete account </a>
    </div>
</div>