<nav>
    <div id='title'>
        <a href='/'>
            <h1 class='text-2xl text-center'> PiggyStories </h1>
        </a>    
    </div>
    <div id='menu-links' class='flex gap-5 justify-center'>
        <a href='/about'>About</a>
        <a href='/stories'>Stories</a>
        <a href='/contact'>Contact us</a>
    </div>
</nav>